
<!-- Header Section -->
<div class="section section--dark-brown">
  <div class="header">
    {{ first_content|raw }}
  </div>
</div>

<!-- Welcome Section -->
{% embed "pages/Index/_section.twig" with {'color': 'light-beige'} %}
  {% block first %}
    <h3>{{ 'page.welcomeheader'|trans }}</h3>
  {% endblock %}

  {% block second %}
    <p> {{ 'page.welcome_main_1'|trans }} </p>
    <p> {{ 'page.welcome_main_2'|trans }} </p>
    <p> {{ 'page.welcome_main_3'|trans }} </p>
    <p> {{ 'page.welcome_main_4'|trans }} </p>
    <p> {{ 'page.welcome_main_5'|trans }} </p>
  {% endblock %}
{% endembed %}


<!-- How to Section -->
{% embed "pages/Index/_section.twig" with {'color': 'beige'} %}
  {% block first %}
    <h3>{{ 'page.howitworksheader'|trans }}</h3>
  {% endblock %}
  {% block second %}
    <p>{{ 'page.howitworks_main'|trans }}</p>
    <p><a class="vidlink" href="https://www.youtube-nocookie.com/embed/6lJtk1XE148?rel=0" target="_blank"><img class="corner-all" alt="play video" src="/img/howto.jpg" /></a></p>
  {% endblock %}
{% endembed %}

<!-- Join us Section -->
{% embed "pages/Index/_section.twig" with {'color': 'light-beige'} %}
  {% block first %}
    <h3>{{ 'page.joinheader'|trans }}</h3>
  {% endblock %}
  {% block second %}
    <p>{{ 'page.join_main_1'|trans }}</p>
    <p>{{ 'page.join_main_2'|trans }}</p>
    <p><a href="/?page=content&sub=joininfo" class="button" >{{ 'page.join_button'|trans }}</a></p>
  {% endblock %}
{% endembed %}

<!-- What is what Section -->
<div class="section section--beige bootstrap">
  <div class="container what-is-what">
    <div class="carpet-roll">
      <h3>{{ 'page.whatiswhat'|trans }}</h3>
    </div>
    <div class="row">
      <div class="col">
        <h2><span class="clickable" onclick="alert('{{ 'page.fsvsfs.main'|trans }}');"><i class="far fa-smile whatiswhaticons" aria-hidden="true"></i>
          <span class="iconlegend">{{ 'page.fsvsfs.header'|trans }}</span></span></h2>
      </div>
      <div class="col">
        <h2><span class="clickable" onclick="alert('{{ 'page.basket.main'|trans }}');"><i class="fas fa-shopping-basket whatiswhaticons" aria-hidden="true"></i>
          <span class="iconlegend">{{ 'page.basket.header'|trans }}</span></span></h2>
      </div>
      <div class="col">
        <h2><span class="clickable" onclick="alert('{{ 'page.foodsharepoints.main'|trans }}');"><i class="fas fa-sync whatiswhaticons" aria-hidden="true"></i>
          <span class="iconlegend">{{ 'page.foodsharepoints.header'|trans }}</span></span></h2>
      </div>
      <div class="col">
        <h2><span class="clickable" onclick="alert('{{ 'page.cooperations.main'|trans }}');"><i class="fas fa-home whatiswhaticons" aria-hidden="true"></i>
          <span class="iconlegend">{{ 'page.cooperations.header'|trans }}</span></span></h2>
      </div>
      <div class="col">
        <h2><span class="clickable" onclick="alert('{{ 'page.presence.main'|trans }}');"><i class="fas fa-music whatiswhaticons" aria-hidden="true"></i>
          <span class="iconlegend">{{ 'page.presence.header'|trans }}</span></span></h2>
      </div>
    </div>
  </div>
</div>
